* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 1rem auto;
}

.result-container,
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-width: 200px;
  padding: 2rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  box-shadow: 10px 5px 5px rgba(169, 169, 169, 0.377);
  flex: 1;
}

.search {
  padding: 0.5rem;
  border: 1px solid lightgray;
}

.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.message.error {
  border-color: red;
  color: red;
  background: rgba(255, 0, 0, 0.144);
}

.loading {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading:after {
  content: " ";
  display: block;
  width: 70px;
  height: 70px;
  margin: 8px;
  border-radius: 50%;
  border: 9px solid red;
  border-color: red transparent red transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  margin-bottom: 1rem;
}
.menu a {
  text-decoration: none;
  color: black;
}

.menu a.active {
  color: red;
}
